* {
    margin: 0;
    padding: 0;
}
em, i {
    font-style: normal;
}
li {
    list-style: none;
}
img {
    display: block;
    border: 0; /*照顾低版本浏览器*/
}
button {
    cursor: pointer;
}
a {
    color: #666;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: 400;
}